.holder {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}
.item-1 {
  flex-basis: calc(100% / 2);
  order: 0;
  background-color: rgb(255, 52, 52);
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.item-5 {
  flex-basis: calc(100% / 2);
  order: 1;
  background-color: rgb(238, 255, 0);
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.item-3 {
  flex-basis: calc(100% / 3);
  order: 2;
  background-color: rgb(212, 0, 255);
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.item-2 {
  flex-basis: calc(100% / 3);
  order: 3;
  background-color: blue;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.item-4 {
  flex-basis: calc(100% / 3);
  order: 4;
  background-color: rgb(0, 255, 76);
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
